{% extends '../base.html' %}

{% load bootstrap %}

{% block title %}LABFIS Agendamentos{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-8 text-start" style="display: inline;">
        <h1>{{ experimento.nome }}</h1>
    </div>
    <div class="col col-4 text-end">
        <h1><span class="badge bg-success">{{ experimento.area }}</span></h1>
    </div>
</div>

<div class="text-end">
    <a href="" class="btn btn-primary btn-sm">Editar</a>
    <a href="" class="btn btn-danger btn-sm">Excluir</a>
</div>

<h2>Descrição</h2>

{{ experimento.descricao }}


<h4>Anexos</h4>



{% endblock %}